@font-face {
  font-family: 'OldEnglish';
  src: url('../public/fonts/OldeEnglish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.titulo-gotico {
  font-family: 'OldEnglish', 'negrite';
  font-size: 56px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.sub {
  color: gray;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botoes {
  display: flex;
  gap: 20px;
  justify-content: center;
}